<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <proteintablerate>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <include_virtual_price>1</include_virtual_price>
                <model>Protein\OfflineShipping\Model\Carrier\Tablerate</model>
                <name>Protein Table Rate</name>
                <title>Protein Table Rate</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </proteintablerate>
        </carriers>
    </default>
</config>